nav.navbar.fixed-top.navbar-expand.navbar-light.navbar-top
	.container
		a.navbar-brand Hello
		.collapse.navbar-collapse
			ul.navbar-nav.ml-auto
				li.nav-item
					a.nav-link(href="#section_ask") 引言 INTRO
				li.nav-item
					a.nav-link(href="#section_about") 簡介 ABOUT
				li.nav-item
					a.nav-link(href="#section_story") 故事 STORY
				li.nav-item
					a.nav-link(href="#section_future") 未來 FUCURE
header.jumbotron
	.container
		h1(
			data-0="transform: translateY(-50px)",
			data-500="transform: translateY(100px)"
		) 凍頂貴妃茶的起源
		hr
		h4 災害後的意外驚喜
section#section_ask
	.container
		.row
			.col-sm-5(
				data-0="transform: translateX(-400px)",
				data-500="transform: translateY(0px)"
			)
			.col-sm-7
				h2(data-300="opacity: 0", data-500="opacity: 1") 沒有牠的出現，自然蜜香就不在了
section#section_about
	.container
		.row
			.col-md-12(
				data-bottom-top="transform: translateY(-50px);opacity: 0",
				data-center="transform: translateY(0px);opacity: 1"
			)
				h2 貴妃茶的故事
			.col-md-4.col-sm-6(
				data-bottom-top="transform: translateY(-50px);opacity: 0",
				data-center="transform: translateY(0px);opacity: 1"
			) 
				.img-wrap(
					data-bottom-top="transform: translateY(-50px);opacity: 0",
					data-center="transform: translateY(0px);opacity: 1"
				)
					img(
						src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEua54eoxBfYHYfqwlOek6o7qcYT7N6ochxA&usqp=CAU",
						alt=""
					)
				h3(
					data-bottom-top="transform: translateY(-50px);opacity: 0",
					data-center="transform: translateY(0px);opacity: 1"
				) 蜜香的起源
				p 蜜香茶的生成條件在於茶菁本身。在茶樹的嫩芽被小綠葉蟬吸食後，會產生特殊成分，這種成份會引誘小綠葉蟬的天敵-白斑蠟蛛，來覓食小綠葉蟬解救自己。簡單來說就是自我防護機制！其中這種特殊成分，就是蜜香味的關鍵來源。

			.col-md-4.col-sm-6(
				data-bottom-top="transform: translateY(-50px);opacity: 0",
				data-center="transform: translateY(0px);opacity: 1"
			) 
				.img-wrap(
					data-bottom-top="transform: translateY(-50px);opacity: 0",
					data-center="transform: translateY(0px);opacity: 1"
				)
					img(
						src="https://images.unsplash.com/photo-1558160074-4d7d8bdf4256?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80",
						alt=""
					)
				h3(
					data-bottom-top="transform: translateY(-50px);opacity: 0",
					data-center="transform: translateY(0px);opacity: 1"
				) 著涎是什麼？
				p 著涎的意思，主要是指小綠葉蟬透過「刺吸式」來攻擊茶樹上的茶嫩芽。而其嫩芽就是要製作茶葉的原料（簡稱為茶菁）。
			.col-md-4.col-sm-6(
				data-bottom-top="transform: translateY(-50px);opacity: 0",
				data-center="transform: translateY(0px);opacity: 1"
			) 
				.img-wrap(
					data-bottom-top="transform: translateY(-50px);opacity: 0",
					data-center="transform: translateY(0px);opacity: 1"
				) 
					img(
						src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRCDIry0fai2tfM09Wnfv2HZjC_KjGVrG7ng&usqp=CAU",
						alt=""
					)
				h3(
					data-bottom-top="transform: translateY(-50px);opacity: 0",
					data-center="transform: translateY(0px);opacity: 1"
				) 著涎的季節
				p 小綠葉蟬需要在天然環境佳純淨無污染的地區，才可以得以生存並滋生。主要的季節為端午節前後，由節氣芒種開始（國曆6月初、上旬）

section#section_story
	.container-fluid
		.row
			.col-sm-5.map(
				data-bottom-top="background-size: 150%; background-position: 0% 0%;",
				data-center="background-size: 100%; background-position: 50% 50%;"
			)
				.cross Ｘ
			.col-sm-7
				.col-sm-12
					h2 凍頂貴妃茶的特色
					.col-sm-12.features
						.row
							.col-sm-4(
								data-bottom-top="transform: scale(1.5);opacity: 0",
								data-center="transform: scale(1);opacity: 1"
							)
								i.fa.fa-thumbs-o-up
								h4 蜜香風味
							.col-sm-4(
								data-bottom-top="transform: scale(1.5);opacity: 0",
								data-center="transform: scale(1);opacity: 1"
							)
								i.fa.fa-star
								h4 甘甜滑潤
							.col-sm-4(
								data-bottom-top="transform: scale(1.5);opacity: 0",
								data-center="transform: scale(1);opacity: 1"
							)
								i.fa.fa-refresh
								h4 生態平衡
					.col-sm-12
						p 什麼茶結合了凍頂烏龍的韻味與東方美人的香醇？眾所公認就是非凍頂貴妃茶莫屬。如果你不喜歡凍頂烏龍的焙火香，稍嫌有火燥氣，很適合選擇凍頂貴妃茶。

section#section_future
	.container-fluid
		.row
			.col-sm-12
				h3 921災害後的意外驚喜
				hr
			.col-sm-6
				img(
					src="https://media.istockphoto.com/id/1203351120/zh/%E7%85%A7%E7%89%87/%E8%87%BA%E7%81%A3%E9%98%BF%E9%87%8C%E5%B1%B1%E5%B1%B1%E9%A0%82%E7%9A%84%E8%8C%B6%E5%9C%92.jpg?s=612x612&w=0&k=20&c=gqW9y2maWTdTZN1qPcXw2TiUELbp5RQJIuohiBkymhU=",
					alt="",
					data-bottom-top="filter: grayscale(100%)",
					data-center="filter: grayscale(0%)"
				)
			.col-sm-6
				.col-sm-12.feature(
					data-bottom-top="transform: translateX(50px)",
					data-center="transform: translateX(0px)"
				)
					i.fa.fa-search
					h4 當小綠葉蟬出沒
					p 蜜香貴妃茶的出現，是因為921大地震時，鹿谷的茶農忙著重建家園，所以沒有意識到茶葉已經被小綠葉蟬叮咬了，在茶農們發現的時候，夏天已經快接近尾聲，茶葉早已被大量叮咬著涎，所以茶農們沒有辦法照著以往做凍頂烏龍的方式去採收製作，遂決定參考東方美人的製茶工藝，索性試做看看高發酵茶款。
				.col-sm-12.feature(
					data-bottom-top="transform: translateX(50px)",
					data-center="transform: translateX(0px)"
				)
					i.fa.fa-exchange
					h4 凍頂烏龍延伸
					p 貴妃茶也是近年在南投茶區所創製的，因為凍頂烏龍茶的特色就是「韻味」，而膨風茶就是有小綠葉蟬產生的蜜香味！而凍頂貴妃茶，就是結合了兩大名茶的優由於貴妃茶的條件非常「搞剛」 不能噴灑藥劑（不然小綠葉蟬不會來咬）以外，咬的範圍分佈不均，芽葉較蜷曲（茶葉相對比較萎縮）! 所以成本真的相對提高不少。
footer.jumbotron
	.container
		h2 想了解更多貴妃茶的故事嗎？
		input.form-control(placeholder="Email")
		hr
		botton.btn.btn-light 訂閱故事
